@tailwind base;
@tailwind components;
@tailwind utilities;


.background--number-stroke {
    -webkit-text-stroke-width: 1px;   
            -webkit-text-stroke-color: black;   
}

.formula-shadow {
    box-shadow: 2.0155254638171756px 1.8475650084990776px 2.7341981193625378px -0.46875px #c7f86038, 4.777151241141837px 4.379055304380017px 6.480532334581918px -0.9375px #c7f86038, 8.714017655176574px 7.987849517245194px 11.821160839988742px -1.40625px #c7f86037, 14.487036858627107px 13.279783787074848px 19.652656165889546px -1.875px #c7f86035, 23.395383266347928px 21.445767994152266px 31.737437247489254px -2.34375px #c7f86032, 38.29592112890677px 35.10459436816454px 51.95103580165478px -2.8125px #c7f8602d, 65.94299011604161px 60.447740939704815px 89.45617547245148px -3.28125px #c7f86024, 120px 110px 162.78820596099706px -3.75px #c7f86013, 0.7065919983928324px 0.23553066613094414px 3.7240668189523083px -0.625px #c7f86084, 1.8065619053231785px 0.6021873017743928px 9.521417258191184px -1.25px #c7f86080, 3.6217592146567767px 1.207253071552259px 19.08834709169683px -1.875px #c7f8607b, 6.8655999097303715px 2.288533303243457px 36.184888696990654px -2.5px #c7f86071, 13.646761411524492px 4.548920470508165px 71.92474790885299px -3.125px #c7f8605d, 30px 10px 158.11388300841895px -3.75px #c7f8602d;
}

.purpy-shadow {
    box-shadow: 2.0155254638171756px 1.8475650084990776px 2.7341981193625378px -0.46875px #c7f86038, 4.777151241141837px 4.379055304380017px 6.480532334581918px -0.9375px #c7f86038, 8.714017655176574px 7.987849517245194px 11.821160839988742px -1.40625px #c7f86037, 14.487036858627107px 13.279783787074848px 19.652656165889546px -1.875px #c7f86035, 23.395383266347928px 21.445767994152266px 31.737437247489254px -2.34375px #c7f86032, 38.29592112890677px 35.10459436816454px 51.95103580165478px -2.8125px #c7f8602d, 65.94299011604161px 60.447740939704815px 89.45617547245148px -3.28125px #c7f86024, 120px 110px 162.78820596099706px -3.75px #c7f86013, 0.7065919983928324px 0.23553066613094414px 3.7240668189523083px -0.625px #c7f86084, 1.8065619053231785px 0.6021873017743928px 9.521417258191184px -1.25px #c7f86080, 3.6217592146567767px 1.207253071552259px 19.08834709169683px -1.875px #c7f8607b, 6.8655999097303715px 2.288533303243457px 36.184888696990654px -2.5px #c7f86071, 13.646761411524492px 4.548920470508165px 71.92474790885299px -3.125px #c7f8605d, 30px 10px 158.11388300841895px -3.75px #c7f8602d;
}

.glass-angle {
    transform: perspective(1200px) translateX(0px) translateY(-18.4728px) scale(0.969212) rotate(0deg) rotateX(6.15759deg) rotateY(0deg) translateZ(0px);
}


@font-face {
    font-family: "Gilroy";
    src: url("../assets//fonts/Gilroy-Light.woff");
    font-weight: 300;
    display: swap;
}
@font-face {
    font-family: "Gilroy";
    src: url("../assets//fonts/Gilroy-Regular.woff");
    font-weight: 400;
    display: swap;
}
@font-face {
    font-family: "Gilroy";
    src: url("../assets//fonts/Gilroy-Medium.woff");
    font-weight: 500;
    display: swap;
}
@font-face {
    font-family: "Gilroy";
    src: url("../assets//fonts/Gilroy-Bold.woff");
    font-weight: 700;
    display: swap;
}
@font-face {
    font-family: "Gilroy";
    src: url("../assets//fonts/Gilroy-Heavy.woff");
    font-weight: 900;
    display: swap;
  }